<h1>Sign Up!</h1>

<form action="<%= users_url %>" method="POST">
  <%= auth_token %>

  <label> Email:
  <input type="text" name="user[email]" placeholder="Enter Email">
  </label>

  <br />

  <label> Password:
  <input type="password" name="user[password]" placeholder="Password">
  </label>

  <br><br>

  <input type="submit">

</form>
