<h1>Log In!</h1>

<form action="<%= session_url %>" method="post">
  <%= auth_token %>

  <label>Username:
    <input type="text" name="user[username]" placeholder="Username"
      value="">
  </label>

  <br><br>

  <label>Password:
    <input type="password" name="user[password]" placeholder="Password"
      value="">
  </label>

  <br><br>

  <input type="Submit" value="Log In">
</form>
